<div class="container text-center-fluid">
<%= flash[:notice] %>
  <div class="row pt-5">
    <div class="col text-center">
      <h1>投稿一覧画面</h1>
    </div>
    <div class="col text-center">
    　<h4>検索結果 全<%= @counts %>件</h4>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-4">
      <%= form_with url: posts_path, method: :get, local: true do |f| %>
        <i class="fas fa-search"></i>
        <%= f.text_field :keyword, placeholder:"タグ検索" %><%= f.submit 'Search' %>
      <% end %>
    </div>
    <div class="col-6">
      <div class="search-box">
        <div class="search-form">
          <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
              <i class="fas fa-search"></i>
              <%= select_tag :min_search, options_for_select((1..50).map { |n| n * 1000 }), prompt: "最小価格" %>
              <%= select_tag :max_search, options_for_select((1..50).map { |n| n * 1000 }), prompt: "最大価格" %>
              <%= submit_tag "価格検索する", id: "submit" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col">
      <%= link_to "新規作成", new_post_path %>
    </div>
  </div>
  <div class="row py-3">
    <div class="col">
      投稿日
    </div>

    <div class="col">
      投稿ユーザー
    </div>

    <div class="col">

    </div>

    <div class="col">
      タイトル
    </div>

    <div class="col">
      コメント
    </div>

    <div class="col">
      タグ
    </div>

    <div class="col">
      ソロ活難易度
    </div>
  </div>
  <% if @posts.empty? %>
    <p>該当する投稿がありませんでした。</p>
  <% else %>
    <% @posts.each do |post| %>
      <div class="row">

        <div class="col">
          <%= post.created_at.strftime('%Y/%m/%d %H:%M') %>
        </div>

        <div class="col">
          <%= post.user ? post.user.handle_name : "管理者" %>
        </div>

        <div class="col">
          <%= image_tag post.get_post_image(100, 100), size: "100x100" %>
        </div>

        <div class="col">
          <%= link_to post.title, post_path(post) %>
        </div>

        <div class="col">
          <%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %>
        </div>

        <div class="col">
          <% post.tag_list.each do |tag|%>
            <div class="btn btn-primary">
              <%= link_to tag, posts_path(tag_name: tag), class: "text-white" %>
            </div>
          <% end %>
        </div>

        <div class="col">
          <%= render 'star_rating', post: post %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="row">
    <div class="col-12 mb-3">
      <%= paginate @posts %>
    </div>
  </div>
</div>

